<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-info">
    <div class="widget__head">
      <div class="footer-logo">
        <div class="footer-logo__link">
          {% if site.logo %}
          <img class="logo__image" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}">
          {% else %}
            {{ site.title }}
          {% endif %}
        </div>
      </div>
    </div>
    <p class="footer-text">Soy Pedro, un ser creativo que busca ser parte de la empresa que las personas quieran que exista. Además, soy un profesional con una gran experiencia en el área de videojuegos, comunicación digital y redes sociales. Destaco mis habilidades creativas, de comunicación efectiva, de observación y aprendizaje, las cuales me han permitido crear medios digitales de gran alcance dentro de Chile y ser expositor en diversos eventos transmitiendo mi experiencia en la creación de virales y contenido de gran impacto.</p>
    {% include social-links.html %}
  </div>
</div>
